.ac-question-container {
  background-color: white;
  color: #376B6D;
  height: 100vh;
}

.ac-question-content {
  margin-top: 5px;
}

.ac-drink-extrabtn {
  width: 285px;
}

.ac-drink-extrabtn .MuiButton-label {
  font-family: SourceHans;
  font-style: normal;
  font-size: 18px;
}

.ac-drink-extrabtn-wrapper {
  display: flex; 
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}