.ac-multibtn-wrapper-fixed {
  display: flex;
  left: calc(50% - 142px);
  position: absolute;
  bottom: 30px;
}

.ac-multibtn-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.ac-multibtn {
  width: 147px;
  height: 40px;
}

.ac-multibtn .MuiButton-label {
  font-family: sans-serif;
}

.ac-singlebtn .MuiButton-label {
  font-family: sans-serif;
  font-style: normal;
  font-size: 18px;
}