.ac-selecteddrink-container {
  display: flex;
  color: #707070;
  align-items: center;
  font-style: normal;
  font-size: 20px;
  margin: auto;
  margin-top: 25px;
  justify-content: center;
}

.ac-selecteddrink-image {
  margin-left: 10px;
}

.ac-selecteddrink-content {
  margin-left: 5px;
}

.ac-selecteddrink-arrow {
  margin-left: 5px;
  margin-right: 5px;
}

.ac-selecteddrink-alcohol-wrapper {
  font-weight: bold;
}

.ac-selecteddrink-alcohol {
  font-size: 24px;
}