.ac-spinner-wrapper {
  align-items: center; 
  display: flex; 
  justify-content: center; 
  margin-right: 10px;
}

.ac-spinner-container {
  /* color: #376B6D; */
  display: flex;
  flex-direction: row;
  font-family: source-han-sans-japanese, sans-serif;
  font-style: normal;
  font-size: 36px;
  font-weight: bold;
  border-bottom: 1px solid;
  min-width: 65px;
  justify-content: center;
}

.ac-question-container .ac-spinner-number {
  color: #376B6D;
}

.report-page-container .ac-spinner-number {
  color: #993333;
}

.ac-spinner-arrow-container {
  display: flex;
  flex-direction: column;
  margin-left: 7px;
  justify-content: center;
}

.ac-question-container .ac-spinner-arrow-container {
  color: #376B6D;
}

.report-page-container .ac-spinner-arrow-container {
  color: #993333;
}

.ac-spinner-arrow {
  width: 15px;
  height: 15px;
}

.ac-question-container .ac-spinner-arrow .MuiIconButton-label{
  color: #376B6D;
}

.report-page-container .ac-spinner-arrow .MuiIconButton-label{
  color: #993333;
}