.ac-multichoice-container {
  display: flex;
  flex-direction: column;
  height: 30%;
  margin-top: 10%;
  margin-bottom: 10%;
  align-items: center;
  justify-content: center;
}

.ac-multichoice-column {
  flex: 1
}

.ac-select-button {
  width: 150px;
  height: 50px;
}

.ac-select-button .MuiButton-label {
  font-family: source-han-sans-japanese, sans-serif;
  font-style: normal;
  font-size: 24px;
}

.ac-multichoice-column .ac-select-button .MuiButton-label {
  font-family: source-han-sans-japanese, sans-serif;
  font-style: normal;
  font-size: 16px;
}

.ac-select-button .MuiTouchRipple-root {
  border-radius: 15px;
}