.ac-multichoice-container {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-bottom: 10%;
  align-items: center;
  justify-content: center;
}

.ac-multichoice-column {
  flex: 1
}

.ac-select-button {
  height: 50px;
}

.ac-select-button .MuiButton-label {
  font-family: sans-serif;
  font-style: normal;
  font-size: 24px;
  margin: 0 15px 0 15px
}

.ac-multichoice-column .ac-select-button .MuiButton-label {
  font-family: sans-serif;
  font-style: normal;
  font-size: 16px;
}

.ac-select-button .MuiTouchRipple-root {
  border-radius: 15px;
}