.ac-container {
  min-height: 100vh;
}

.ac-question-container {
  max-width: 540px;
  margin: auto;

  -webkit-animation: fadepage 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadepage 1s; /* Firefox < 16 */
  -ms-animation: fadepage 1s; /* Internet Explorer */
  -o-animation: fadepage 1s; /* Opera < 12.1 */
  animation: fadepage 1s;
}

.report-page-container {
  background-color: white;
  color: #707070;
  min-height: 100vh;
  max-width: 540px;
  margin: auto;
  font-family: source-han-sans-japanese, sans-serif;
  font-style: normal;
  justify-content: center;
  position: relative;
}

.font-hira {
  font-family: fira-sans, sans-serif;
  font-style: normal;
}

.font-kans {
  font-family: kan48typos-std, sans-serif;
}

.container-center-text {
  text-align: center;
}

.report-title {
  font-size: 18px;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  padding-top: 40px;
  text-align: center;
}

.ac-decision-text .MuiInputBase-input {
  color: #993333;
  padding: 6px 0 0 0;
  font-size: 20px;
}

@keyframes fadepage {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadepage {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadepage {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadepage {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadepage {
  from { opacity: 0; }
  to   { opacity: 1; }
}